USE [master]
GO
/****** Object:  Database [SWP391]    Script Date: 7/21/2022 10:32:26 AM ******/
CREATE DATABASE [SWP391]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SWP391', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SWP391.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SWP391_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SWP391_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SWP391].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SWP391]
GO
/****** Object:  Table [dbo].[accounts]    Script Date: 7/21/2022 10:32:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accounts](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[full_name] [nvarchar](255) NULL,
	[role_id] [int] NULL,
	[gender] [bit] NULL,
	[email] [varchar](255) NULL,
	[city] [nvarchar](255) NULL,
	[country] [nvarchar](255) NULL,
	[address] [nvarchar](255) NULL,
	[phone] [varchar](15) NULL,
	[image_url] [varchar](255) NULL,
	[featured] [bit] NULL,
	[hash] [varchar](255) NULL,
	[active] [int] NULL,
	[registered_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[general_feedbacks]    Script Date: 7/21/2022 10:32:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[general_feedbacks](
	[feedback_id] [int] IDENTITY(1,1) NOT NULL,
	[star] [float] NULL,
	[feedbacks_content] [ntext] NULL,
	[full_name] [nvarchar](255) NULL,
	[phone] [varchar](15) NULL,
	[gender] [bit] NULL,
	[email] [varchar](255) NULL,
	[image_url] [varchar](255) NULL,
	[feedback_date] [datetime] NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[history_profile]    Script Date: 7/21/2022 10:32:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[history_profile](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[update_id] [int] NULL,
	[full_name] [nvarchar](255) NULL,
	[gender] [bit] NULL,
	[email] [nvarchar](255) NULL,
	[address] [nvarchar](255) NULL,
	[phone] [nvarchar](15) NULL,
	[feature] [bit] NULL,
	[update_by] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_details]    Script Date: 7/21/2022 10:32:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_details](
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NULL,
	[price] [money] NULL,
 CONSTRAINT [PK_Order_Details] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_status]    Script Date: 7/21/2022 10:32:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_status](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](51) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 7/21/2022 10:32:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[order_date] [datetime] NULL,
	[require_date] [datetime] NULL,
	[shipped_date] [datetime] NULL,
	[ship_via] [int] NULL,
	[freight] [money] NULL,
	[ship_name] [nvarchar](255) NULL,
	[ship_address] [nvarchar](255) NULL,
	[ship_gender] [bit] NULL,
	[ship_mobile] [varchar](15) NULL,
	[ship_email] [varchar](255) NULL,
	[ship_city] [nvarchar](255) NULL,
	[status] [int] NULL,
	[note] [ntext] NULL,
	[total_price] [money] NOT NULL,
	[payment] [nvarchar](255) NULL,
	[sale_note] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders_management]    Script Date: 7/21/2022 10:32:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders_management](
	[order_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
 CONSTRAINT [PK_orders_management] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permissions]    Script Date: 7/21/2022 10:32:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permissions](
	[role_id] [int] NULL,
	[screen_id] [int] NULL,
	[activity_id] [int] NULL,
	[status] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[post_categories]    Script Date: 7/21/2022 10:32:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[post_categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](255) NULL,
	[description] [ntext] NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[post_sub_categories]    Script Date: 7/21/2022 10:32:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[post_sub_categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NULL,
	[name] [ntext] NULL,
	[description] [ntext] NULL,
	[feature] [bit] NULL,
 CONSTRAINT [PK__post_sub__3213E83F8434223E] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[posts]    Script Date: 7/21/2022 10:32:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[posts](
	[post_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[title] [nvarchar](511) NULL,
	[thumbnail] [text] NULL,
	[updated_date] [datetime] NULL,
	[post_details] [ntext] NULL,
	[featured] [bit] NULL,
	[sub_title] [ntext] NULL,
	[publication_date] [datetime] NULL,
	[post_subcategories_id] [int] NULL,
 CONSTRAINT [PK__posts__3ED78766A39437E4] PRIMARY KEY CLUSTERED 
(
	[post_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_categories]    Script Date: 7/21/2022 10:32:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [varchar](100) NULL,
	[description] [varchar](255) NULL,
	[featured] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_feedbacks]    Script Date: 7/21/2022 10:32:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_feedbacks](
	[feedback_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[product_id] [int] NULL,
	[star] [float] NULL,
	[feedbacks_content] [ntext] NULL,
	[full_name] [nvarchar](255) NULL,
	[phone] [varchar](15) NULL,
	[gender] [bit] NULL,
	[email] [varchar](255) NULL,
	[image_url] [varchar](255) NULL,
	[feedback_date] [datetime] NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_images]    Script Date: 7/21/2022 10:32:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_images](
	[image_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[url] [ntext] NULL,
	[description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_sub_categories]    Script Date: 7/21/2022 10:32:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_sub_categories](
	[sub_category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [varchar](100) NULL,
	[description] [varchar](255) NULL,
	[status] [int] NULL,
	[category_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[sub_category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 7/21/2022 10:32:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[sub_category_id] [int] NULL,
	[unit_in_stock] [int] NULL,
	[updated_date] [datetime] NULL,
	[original_price] [money] NULL,
	[sale_price] [money] NULL,
	[product_details] [ntext] NULL,
	[featured] [bit] NULL,
	[status] [int] NULL,
	[brief_infor] [nvarchar](255) NULL,
	[thumbnail] [ntext] NULL,
	[model] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 7/21/2022 10:32:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[screens]    Script Date: 7/21/2022 10:32:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[screens](
	[screen_id] [int] NOT NULL,
	[screen_name] [nvarchar](255) NULL,
	[screen_description] [varchar](127) NULL,
PRIMARY KEY CLUSTERED 
(
	[screen_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[settings]    Script Date: 7/21/2022 10:32:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[settings](
	[setting_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](31) NULL,
	[description] [ntext] NULL,
	[type] [varchar](50) NULL,
	[value] [varchar](50) NULL,
	[order] [varchar](50) NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[setting_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sliders]    Script Date: 7/21/2022 10:32:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sliders](
	[slider_id] [int] IDENTITY(1,1) NOT NULL,
	[slider_image] [text] NULL,
	[title] [nvarchar](250) NULL,
	[slider_link] [text] NULL,
	[status] [int] NULL,
	[notes] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[slider_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tag_post]    Script Date: 7/21/2022 10:32:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tag_post](
	[tag_id] [int] NULL,
	[post_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tags]    Script Date: 7/21/2022 10:32:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tags](
	[tag_id] [int] IDENTITY(1,1) NOT NULL,
	[tag_name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[tag_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[update_date]    Script Date: 7/21/2022 10:32:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[update_date](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[date] [datetime] NULL,
 CONSTRAINT [PK__update_d__3213E83FE14B66D6] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[accounts] ON 

INSERT [dbo].[accounts] ([user_id], [username], [password], [full_name], [role_id], [gender], [email], [city], [country], [address], [phone], [image_url], [featured], [hash], [active], [registered_date]) VALUES (1, N'phuong', N'a10bb50010e0d2bc501fd7a70ba65779', N'Nguyễn Lý Duy Phương', 2, NULL, NULL, NULL, NULL, NULL, NULL, N'images\account-images\acc.png', 1, N'1', 1, CAST(N'2022-06-10T11:04:18.790' AS DateTime))
INSERT [dbo].[accounts] ([user_id], [username], [password], [full_name], [role_id], [gender], [email], [city], [country], [address], [phone], [image_url], [featured], [hash], [active], [registered_date]) VALUES (2, N'phuong2', N'1bbd886460827015e5d605ed44252251', N'Duy Phuong', 5, NULL, NULL, NULL, NULL, NULL, NULL, N'images\account-images\acc.png', 1, N'1', 1, CAST(N'2022-06-10T11:04:18.790' AS DateTime))
INSERT [dbo].[accounts] ([user_id], [username], [password], [full_name], [role_id], [gender], [email], [city], [country], [address], [phone], [image_url], [featured], [hash], [active], [registered_date]) VALUES (3, N'quangtv', N'1bbd886460827015e5d605ed44252251', N'Trần Văn Quang', 1, 0, N'qtran9587@gmail.com', N'Vĩnh Phúc', N'aaaaaaa', N'Bá Hiến, Bình Xuyên', N'+10395073662', N'images\account-images\facebook-unfollow-9525-1656392005.jpg', 1, N'1', 1, CAST(N'2022-06-13T11:04:18.790' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[general_feedbacks] ON 

INSERT [dbo].[general_feedbacks] ([feedback_id], [star], [feedbacks_content], [full_name], [phone], [gender], [email], [image_url], [feedback_date], [status]) VALUES (1, 4, N'ttt', N'Phạm Văn Toàn', N'0978415744', 0, N'tretrau224@gmail.com', NULL, CAST(N'2022-06-12T18:20:20.190' AS DateTime), 1)
INSERT [dbo].[general_feedbacks] ([feedback_id], [star], [feedbacks_content], [full_name], [phone], [gender], [email], [image_url], [feedback_date], [status]) VALUES (2, 5, N'test', N'Duy Phuong', N'3544542353', 1, N'phuon@gmail.com', NULL, CAST(N'2022-06-20T06:22:22.000' AS DateTime), 1)
INSERT [dbo].[general_feedbacks] ([feedback_id], [star], [feedbacks_content], [full_name], [phone], [gender], [email], [image_url], [feedback_date], [status]) VALUES (3, 3, N'fdas fasf sadfknasdfaso d', N'Toàn', N'2313124342', 1, N'toan@gmail.com', NULL, CAST(N'2022-06-20T05:22:22.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[general_feedbacks] OFF
GO
SET IDENTITY_INSERT [dbo].[history_profile] ON 

INSERT [dbo].[history_profile] ([id], [update_id], [full_name], [gender], [email], [address], [phone], [feature], [update_by]) VALUES (1, 6, N'Bùi Anh Dung', 1, N'dungbahe150633@fpt.edu.vn', N'DH-FPT1', N'0783332391', 1, N'dungba')
INSERT [dbo].[history_profile] ([id], [update_id], [full_name], [gender], [email], [address], [phone], [feature], [update_by]) VALUES (2, 7, N'Bùi Anh Dung2', 1, N'dungbahe150633@fpt.edu.vn', N'DH-FPT2', N'0783332392', 1, N'dungba')
INSERT [dbo].[history_profile] ([id], [update_id], [full_name], [gender], [email], [address], [phone], [feature], [update_by]) VALUES (3, 97, N'Bùi Anh Dung2', 1, N'dungbahe150634@fpt.edu.vn', N'DH-FPT3', N'0783332392', 1, N'dung')
SET IDENTITY_INSERT [dbo].[history_profile] OFF
GO
INSERT [dbo].[order_details] ([order_id], [product_id], [quantity], [price]) VALUES (1, 7, 1, 28990000.0000)
INSERT [dbo].[order_details] ([order_id], [product_id], [quantity], [price]) VALUES (2, 7, 1, 28990000.0000)
INSERT [dbo].[order_details] ([order_id], [product_id], [quantity], [price]) VALUES (3, 7, 1, 28990000.0000)
GO
SET IDENTITY_INSERT [dbo].[order_status] ON 

INSERT [dbo].[order_status] ([id], [description]) VALUES (1, N'Submitted')
INSERT [dbo].[order_status] ([id], [description]) VALUES (2, N'Order information confirmation')
INSERT [dbo].[order_status] ([id], [description]) VALUES (3, N'Active')
SET IDENTITY_INSERT [dbo].[order_status] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([order_id], [user_id], [order_date], [require_date], [shipped_date], [ship_via], [freight], [ship_name], [ship_address], [ship_gender], [ship_mobile], [ship_email], [ship_city], [status], [note], [total_price], [payment], [sale_note]) VALUES (1, 1, CAST(N'2022-06-20T15:43:24.787' AS DateTime), NULL, NULL, NULL, 20000.0000, NULL, N'Đ?i H?c FPT-Hà N?i', NULL, N'0783332391', N'phuong@gmail.com', NULL, 5, NULL, 28990000.0000, N'VN PAY', NULL)
INSERT [dbo].[orders] ([order_id], [user_id], [order_date], [require_date], [shipped_date], [ship_via], [freight], [ship_name], [ship_address], [ship_gender], [ship_mobile], [ship_email], [ship_city], [status], [note], [total_price], [payment], [sale_note]) VALUES (2, 2, CAST(N'2022-06-21T15:43:24.787' AS DateTime), NULL, NULL, NULL, 20000.0000, NULL, N'Đ?i H?c FPT-Hà N?i', NULL, N'0783332391', N'phuong2@gmail.com', NULL, 6, NULL, 28990000.0000, N'Ship COD', NULL)
INSERT [dbo].[orders] ([order_id], [user_id], [order_date], [require_date], [shipped_date], [ship_via], [freight], [ship_name], [ship_address], [ship_gender], [ship_mobile], [ship_email], [ship_city], [status], [note], [total_price], [payment], [sale_note]) VALUES (3, 3, CAST(N'2022-06-22T15:43:24.787' AS DateTime), NULL, NULL, NULL, 20000.0000, NULL, N'Đ?i H?c FPT-Hà N?i', NULL, N'0783332391', N'quang@gmail.com', NULL, 5, NULL, 28990000.0000, N'Ship COD', NULL)
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
INSERT [dbo].[orders_management] ([order_id], [user_id]) VALUES (1, 3031)
INSERT [dbo].[orders_management] ([order_id], [user_id]) VALUES (2, 3025)
INSERT [dbo].[orders_management] ([order_id], [user_id]) VALUES (3, 3026)
GO
INSERT [dbo].[permissions] ([role_id], [screen_id], [activity_id], [status]) VALUES (1, 1, NULL, 1)
INSERT [dbo].[permissions] ([role_id], [screen_id], [activity_id], [status]) VALUES (1, 2, NULL, 1)
INSERT [dbo].[permissions] ([role_id], [screen_id], [activity_id], [status]) VALUES (1, 3, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[post_categories] ON 

INSERT [dbo].[post_categories] ([category_id], [category_name], [description], [status]) VALUES (1, N'Review', N'this is news about technology', 1)
INSERT [dbo].[post_categories] ([category_id], [category_name], [description], [status]) VALUES (2, N'News', N'this is news', 1)
INSERT [dbo].[post_categories] ([category_id], [category_name], [description], [status]) VALUES (3, N'Life', NULL, 1)
SET IDENTITY_INSERT [dbo].[post_categories] OFF
GO
SET IDENTITY_INSERT [dbo].[post_sub_categories] ON 

INSERT [dbo].[post_sub_categories] ([id], [category_id], [name], [description], [feature]) VALUES (1, 1, N'Review', N'Review product', 1)
INSERT [dbo].[post_sub_categories] ([id], [category_id], [name], [description], [feature]) VALUES (2, 1, N'Event', N'Event for product technology', 1)
INSERT [dbo].[post_sub_categories] ([id], [category_id], [name], [description], [feature]) VALUES (3, 2, N'Event ', N'Event for sience', 1)
SET IDENTITY_INSERT [dbo].[post_sub_categories] OFF
GO
SET IDENTITY_INSERT [dbo].[posts] ON 

SET IDENTITY_INSERT [dbo].[posts] OFF
GO
SET IDENTITY_INSERT [dbo].[product_categories] ON 

INSERT [dbo].[product_categories] ([category_id], [category_name], [description], [featured]) VALUES (1, N'Laptop', N'Product technology', 1)
INSERT [dbo].[product_categories] ([category_id], [category_name], [description], [featured]) VALUES (2, N'PC', N'Science and technology', 1)
INSERT [dbo].[product_categories] ([category_id], [category_name], [description], [featured]) VALUES (3, N'SmartPhone', NULL, 1)
SET IDENTITY_INSERT [dbo].[product_categories] OFF
GO
SET IDENTITY_INSERT [dbo].[product_feedbacks] ON 

INSERT [dbo].[product_feedbacks] ([feedback_id], [user_id], [product_id], [star], [feedbacks_content], [full_name], [phone], [gender], [email], [image_url], [feedback_date], [status]) VALUES (1, 0, 12, 4, N'goodgoodgood', N'quang', N'0395073662', 1, N'phuongdyt@gmail.com', N'images\account-images\acc.png', CAST(N'2022-05-06T00:37:55.270' AS DateTime), 1)
INSERT [dbo].[product_feedbacks] ([feedback_id], [user_id], [product_id], [star], [feedbacks_content], [full_name], [phone], [gender], [email], [image_url], [feedback_date], [status]) VALUES (3, 0, 3, 5, N'good', N'quang', N'0395073662', 1, N'phuongdyt@gmail.com', NULL, CAST(N'2022-05-06T00:37:55.270' AS DateTime), 1)
INSERT [dbo].[product_feedbacks] ([feedback_id], [user_id], [product_id], [star], [feedbacks_content], [full_name], [phone], [gender], [email], [image_url], [feedback_date], [status]) VALUES (4, 0, 3, 4, N'good', N'quang', N'0395073662', 1, N'phuongdyt@gmail.com', NULL, CAST(N'2022-05-06T00:37:55.270' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[product_feedbacks] OFF
GO
SET IDENTITY_INSERT [dbo].[product_images] ON 

INSERT [dbo].[product_images] ([image_id], [product_id], [url], [description]) VALUES (4, 3, N'images/product_images/hp-205-pro-g8-aio-r3-5r3f1pa-2-1.jpg', N'')
INSERT [dbo].[product_images] ([image_id], [product_id], [url], [description]) VALUES (5, 3, N'images/product_images/hp-205-pro-g8-aio-r3-5r3f1pa-3-1.jpg', N'')
INSERT [dbo].[product_images] ([image_id], [product_id], [url], [description]) VALUES (6, 3, N'images/product_images/hp-205-pro-g8-aio-r3-5r3f1pa-4.jpg', N'')
SET IDENTITY_INSERT [dbo].[product_images] OFF
GO
SET IDENTITY_INSERT [dbo].[product_sub_categories] ON 

INSERT [dbo].[product_sub_categories] ([sub_category_id], [category_name], [description], [status], [category_id]) VALUES (3, N'Laptop Gaming', NULL, 1, 1)
INSERT [dbo].[product_sub_categories] ([sub_category_id], [category_name], [description], [status], [category_id]) VALUES (4, N'UltraBook', NULL, 1, 1)
INSERT [dbo].[product_sub_categories] ([sub_category_id], [category_name], [description], [status], [category_id]) VALUES (5, N'All In One', NULL, 1, 2)
SET IDENTITY_INSERT [dbo].[product_sub_categories] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([role_id], [role_name]) VALUES (1, N'Customer')
INSERT [dbo].[roles] ([role_id], [role_name]) VALUES (2, N'Marketing')
INSERT [dbo].[roles] ([role_id], [role_name]) VALUES (3, N'Sale')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
INSERT [dbo].[screens] ([screen_id], [screen_name], [screen_description]) VALUES (1, N'/login', N'Login')
INSERT [dbo].[screens] ([screen_id], [screen_name], [screen_description]) VALUES (2, N'/register', N'Register')
INSERT [dbo].[screens] ([screen_id], [screen_name], [screen_description]) VALUES (3, N'/logout', N'Logout')
GO
SET IDENTITY_INSERT [dbo].[settings] ON 

INSERT [dbo].[settings] ([setting_id], [name], [description], [type], [value], [order], [status]) VALUES (1, N'Set Role', N'', N'Role', N'Customer', N'1', 1)
INSERT [dbo].[settings] ([setting_id], [name], [description], [type], [value], [order], [status]) VALUES (2, N'Set Role', NULL, N'Role', N'Marketing', N'2', 1)
INSERT [dbo].[settings] ([setting_id], [name], [description], [type], [value], [order], [status]) VALUES (3, N'Set Role', NULL, N'Role', N'Sale', N'3', 1)
GO
SET IDENTITY_INSERT [dbo].[settings] OFF
GO
SET IDENTITY_INSERT [dbo].[sliders] ON 

INSERT [dbo].[sliders] ([slider_id], [slider_image], [title], [slider_link], [status], [notes]) VALUES (1, N'images/slider-images/70059505_p0_master1200.jpg', N'This is first slider title', N'productslist', 1, N'')
INSERT [dbo].[sliders] ([slider_id], [slider_image], [title], [slider_link], [status], [notes]) VALUES (2, N'images/slider-images/istockphoto-1182650732-170667a.jpg', N'This is second slider title', N'product?id=3', 1, NULL)
INSERT [dbo].[sliders] ([slider_id], [slider_image], [title], [slider_link], [status], [notes]) VALUES (3, N'images/slider-images/Image-Tower.jpg', N'Tower', N'postslist', 1, NULL)
SET IDENTITY_INSERT [dbo].[sliders] OFF
GO
INSERT [dbo].[tag_post] ([tag_id], [post_id]) VALUES (1, 1)
INSERT [dbo].[tag_post] ([tag_id], [post_id]) VALUES (1, 2)
GO
SET IDENTITY_INSERT [dbo].[tags] ON 

INSERT [dbo].[tags] ([tag_id], [tag_name]) VALUES (1, N'Review Laptop')
INSERT [dbo].[tags] ([tag_id], [tag_name]) VALUES (2, N'Review PC')
INSERT [dbo].[tags] ([tag_id], [tag_name]) VALUES (3, N'Review CPU')
SET IDENTITY_INSERT [dbo].[tags] OFF
GO
SET IDENTITY_INSERT [dbo].[update_date] ON 

INSERT [dbo].[update_date] ([id], [user_id], [date]) VALUES (1, 1, CAST(N'2022-07-14T13:48:11.747' AS DateTime))
INSERT [dbo].[update_date] ([id], [user_id], [date]) VALUES (4, 2, CAST(N'2022-07-14T13:49:05.367' AS DateTime))
INSERT [dbo].[update_date] ([id], [user_id], [date]) VALUES (5, 3, CAST(N'2022-07-14T13:49:09.863' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[update_date] OFF
GO
ALTER TABLE [dbo].[accounts]  WITH CHECK ADD  CONSTRAINT [FK_account.role_id] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([role_id])
GO
ALTER TABLE [dbo].[accounts] CHECK CONSTRAINT [FK_account.role_id]
GO
ALTER TABLE [dbo].[history_profile]  WITH CHECK ADD FOREIGN KEY([update_id])
REFERENCES [dbo].[update_date] ([id])
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FK_order_details.order_id] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FK_order_details.order_id]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FK_order_details.product_id] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FK_order_details.product_id]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_order_orderStatus] FOREIGN KEY([status])
REFERENCES [dbo].[order_status] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_order_orderStatus]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[accounts] ([user_id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_users]
GO
ALTER TABLE [dbo].[orders_management]  WITH CHECK ADD  CONSTRAINT [FK_order_sales.user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[accounts] ([user_id])
GO
ALTER TABLE [dbo].[orders_management] CHECK CONSTRAINT [FK_order_sales.user_id]
GO
ALTER TABLE [dbo].[orders_management]  WITH CHECK ADD  CONSTRAINT [FK_orders_sales.order_id] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[orders_management] CHECK CONSTRAINT [FK_orders_sales.order_id]
GO
ALTER TABLE [dbo].[permissions]  WITH CHECK ADD  CONSTRAINT [FK_permissions.roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([role_id])
GO
ALTER TABLE [dbo].[permissions] CHECK CONSTRAINT [FK_permissions.roles]
GO
ALTER TABLE [dbo].[permissions]  WITH CHECK ADD  CONSTRAINT [FK_permissions.screens] FOREIGN KEY([screen_id])
REFERENCES [dbo].[screens] ([screen_id])
GO
ALTER TABLE [dbo].[permissions] CHECK CONSTRAINT [FK_permissions.screens]
GO
ALTER TABLE [dbo].[post_sub_categories]  WITH CHECK ADD  CONSTRAINT [FK__post_sub___featu__02FC7413] FOREIGN KEY([category_id])
REFERENCES [dbo].[post_categories] ([category_id])
GO
ALTER TABLE [dbo].[post_sub_categories] CHECK CONSTRAINT [FK__post_sub___featu__02FC7413]
GO
ALTER TABLE [dbo].[posts]  WITH CHECK ADD  CONSTRAINT [FK__posts__post_subc__07C12930] FOREIGN KEY([post_subcategories_id])
REFERENCES [dbo].[post_sub_categories] ([id])
GO
ALTER TABLE [dbo].[posts] CHECK CONSTRAINT [FK__posts__post_subc__07C12930]
GO
ALTER TABLE [dbo].[posts]  WITH CHECK ADD  CONSTRAINT [FK_posts.user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[accounts] ([user_id])
GO
ALTER TABLE [dbo].[posts] CHECK CONSTRAINT [FK_posts.user_id]
GO
ALTER TABLE [dbo].[product_feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_product_feedbacks.product_id] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[product_feedbacks] CHECK CONSTRAINT [FK_product_feedbacks.product_id]
GO
ALTER TABLE [dbo].[product_images]  WITH CHECK ADD  CONSTRAINT [FK_product_image.product_id] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[product_images] CHECK CONSTRAINT [FK_product_image.product_id]
GO
ALTER TABLE [dbo].[product_sub_categories]  WITH CHECK ADD  CONSTRAINT [FK_product_sub_category.product_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[product_categories] ([category_id])
GO
ALTER TABLE [dbo].[product_sub_categories] CHECK CONSTRAINT [FK_product_sub_category.product_category]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_product.category_id] FOREIGN KEY([sub_category_id])
REFERENCES [dbo].[product_sub_categories] ([sub_category_id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_product.category_id]
GO
ALTER TABLE [dbo].[tag_post]  WITH CHECK ADD  CONSTRAINT [FK_tagpost_post] FOREIGN KEY([post_id])
REFERENCES [dbo].[posts] ([post_id])
GO
ALTER TABLE [dbo].[tag_post] CHECK CONSTRAINT [FK_tagpost_post]
GO
ALTER TABLE [dbo].[tag_post]  WITH CHECK ADD  CONSTRAINT [FK_tagpost_tag] FOREIGN KEY([tag_id])
REFERENCES [dbo].[tags] ([tag_id])
GO
ALTER TABLE [dbo].[tag_post] CHECK CONSTRAINT [FK_tagpost_tag]
GO
ALTER TABLE [dbo].[update_date]  WITH CHECK ADD  CONSTRAINT [FK__update_da__user___6FE99F9F] FOREIGN KEY([user_id])
REFERENCES [dbo].[accounts] ([user_id])
GO
ALTER TABLE [dbo].[update_date] CHECK CONSTRAINT [FK__update_da__user___6FE99F9F]
GO
USE [master]
GO
