<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>EmailSendingWebApp</display-name>
    <!-- SMTP settings -->
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>quangtvhe153307@fpt.edu.vn</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>Linhbui5</param-value>
    </context-param>
    <context-param>
        <param-name>banking_system</param-name>
        <param-value>TPBANK</param-value>
    </context-param>
    <context-param>
        <param-name>account_holder</param-name>
        <param-value>BUI ANH DUNG</param-value>
    </context-param>
    <context-param>
        <param-name>account_number</param-name>
        <param-value>03253556201</param-value>
    </context-param>
    <context-param>
        <param-name>vnpay_qr_code</param-name>
        <param-value>images/banking_image/vn_pay.png</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>ckeditor</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>NewFilter</filter-name>
        <filter-class>filter.NewFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>NewFilter</filter-name>
        <url-pattern>/feedback</url-pattern>
        <url-pattern>/product</url-pattern>
        <url-pattern>/productslist</url-pattern>
        <url-pattern>/checkout</url-pattern>
        <url-pattern>/activate</url-pattern>
        <url-pattern>/cartcompletion</url-pattern>
        <url-pattern>/delete_order</url-pattern>
        <url-pattern>/updateorder</url-pattern>
        <url-pattern>/cancel_order</url-pattern>
        <url-pattern>/myorders</url-pattern>
        <url-pattern>/orderinformation</url-pattern>
        <url-pattern>/marketing/.*</url-pattern>
        <url-pattern>/delete_order</url-pattern>
        <url-pattern>/resetpass</url-pattern>
        <url-pattern>/myorders</url-pattern>
        <url-pattern>/orderinformation</url-pattern>
        <url-pattern>/updateorder</url-pattern>
        <url-pattern>/cancel_order</url-pattern>
        <url-pattern>/marketing/productslist</url-pattern>
        <url-pattern>/marketing/product</url-pattern>
        <url-pattern>/marketing</url-pattern>
        <url-pattern>/marketing/dashboard</url-pattern>
        <url-pattern>/marketing/getsubcategory</url-pattern>
        <url-pattern>/marketing/editproduct</url-pattern>
        <url-pattern>/marketing/addproduct</url-pattern>
        <url-pattern>/marketing/feedbackslist</url-pattern>
        <url-pattern>/sale</url-pattern>
        <url-pattern>/sale/orderslist</url-pattern>
        <url-pattern>/sale/orderdetails</url-pattern>
        <url-pattern>/marketing/postdetails</url-pattern>
        <url-pattern>/marketing/changepostcategory</url-pattern>
        <url-pattern>/admin</url-pattern>
        <url-pattern>/admin/settingslist</url-pattern>
        <url-pattern>/admin/adduser</url-pattern>
        <url-pattern>/admin/userslist</url-pattern>
        <url-pattern>/admin/udateacc</url-pattern>
        <url-pattern>/admin/settingdetails</url-pattern>
        <url-pattern>/admin/addsetting</url-pattern>
        <url-pattern>/marketing/addcustomer</url-pattern>
        <url-pattern>/marketing/customerlist</url-pattern>
        <url-pattern>/marketing/editslider</url-pattern>
        <url-pattern>/marketing/feedbackslist</url-pattern>
        <url-pattern>/marketing/postslist</url-pattern>
        <url-pattern>/marketing/getproductslist</url-pattern>
        <url-pattern>/marketing/searchcustomerlist</url-pattern>
        <url-pattern>/marketing/sliderslist</url-pattern>
        <url-pattern>/marketing/slider</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.authentication.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.authentication.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.authentication.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductFeedbackServlet</servlet-name>
        <servlet-class>controller.product.ProductFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.home.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyServlet</servlet-name>
        <servlet-class>controller.product.BuyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>controller.order.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessServlet</servlet-name>
        <servlet-class>controller.product.ProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>controller.product.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsListServlet</servlet-name>
        <servlet-class>controller.product.ProductsListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCartServlet</servlet-name>
        <servlet-class>controller.product.ShowCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActiveAccount</servlet-name>
        <servlet-class>controller.authentication.ActiveAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartCompletionServlet</servlet-name>
        <servlet-class>controller.order.CartCompletionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderServlet</servlet-name>
        <servlet-class>controller.order.DeleteOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>controller.authentication.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>controller.authentication.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyOrderServlet</servlet-name>
        <servlet-class>controller.order.MyOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderInformationServlet</servlet-name>
        <servlet-class>controller.order.OrderInformationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderServlet</servlet-name>
        <servlet-class>controller.order.UpdateOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cancel_Order</servlet-name>
        <servlet-class>controller.product.Cancel_OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccount</servlet-name>
        <servlet-class>controller.authentication.UpdateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFeaturePostServlet</servlet-name>
        <servlet-class>controller.marketing.UpdateFeaturePostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPostListServlet</servlet-name>
        <servlet-class>controller.marketing.SearchPostListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPostCategoryServlet</servlet-name>
        <servlet-class>controller.marketing.AddPostCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSliderList</servlet-name>
        <servlet-class>controller.marketing.SearchSliderList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFeatureSliderServlet</servlet-name>
        <servlet-class>controller.marketing.UpdateFeatureSliderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSliderServlet</servlet-name>
        <servlet-class>controller.marketing.AddSliderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleServlet</servlet-name>
        <servlet-class>controller.sale.SaleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderListServlet</servlet-name>
        <servlet-class>controller.sale.OrderListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailsServlet</servlet-name>
        <servlet-class>controller.sale.OrderDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostDetailsServlet</servlet-name>
        <servlet-class>controller.marketing.PostDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccessDeniedServlet</servlet-name>
        <servlet-class>controller.authentication.AccessDeniedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePostCategoryServlet</servlet-name>
        <servlet-class>controller.marketing.ChangePostCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>controller.admin.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingsList</servlet-name>
        <servlet-class>controller.admin.SettingsList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFeatureCustomerServlet</servlet-name>
        <servlet-class>controller.marketing.UpdateFeatureCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersListServlet</servlet-name>
        <servlet-class>controller.admin.UsersListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddUserServlet</servlet-name>
        <servlet-class>controller.admin.AdminAddUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUdateAccServlet</servlet-name>
        <servlet-class>controller.admin.AdminUdateAccServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingDetailsServlet</servlet-name>
        <servlet-class>controller.admin.SettingDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSettingServlet</servlet-name>
        <servlet-class>controller.admin.AddSettingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductFeedbackServlet</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyServlet</servlet-name>
        <url-pattern>/buy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessServlet</servlet-name>
        <url-pattern>/process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsListServlet</servlet-name>
        <url-pattern>/productslist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCartServlet</servlet-name>
        <url-pattern>/showcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActiveAccount</servlet-name>
        <url-pattern>/activate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartCompletionServlet</servlet-name>
        <url-pattern>/cartcompletion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderServlet</servlet-name>
        <url-pattern>/delete_order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/resetpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyOrderServlet</servlet-name>
        <url-pattern>/myorders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderInformationServlet</servlet-name>
        <url-pattern>/orderinformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderServlet</servlet-name>
        <url-pattern>/updateorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cancel_Order</servlet-name>
        <url-pattern>/cancel_order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccount</servlet-name>
        <url-pattern>/updateacc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectorServlet</servlet-name>
        <url-pattern>/ckfinder/core/connector/java/connector.java</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFeaturePostServlet</servlet-name>
        <url-pattern>/updatefeaturepost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPostListServlet</servlet-name>
        <url-pattern>/searchpostlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPostCategoryServlet</servlet-name>
        <url-pattern>/addpostcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSliderList</servlet-name>
        <url-pattern>/searchsliderlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFeatureSliderServlet</servlet-name>
        <url-pattern>/updatefeatureslider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSliderServlet</servlet-name>
        <url-pattern>/addslider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleServlet</servlet-name>
        <url-pattern>/sale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderListServlet</servlet-name>
        <url-pattern>/sale/orderslist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailsServlet</servlet-name>
        <url-pattern>/sale/orderdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostDetailsServlet</servlet-name>
        <url-pattern>/marketing/postdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccessDeniedServlet</servlet-name>
        <url-pattern>/accessdenied</url-pattern>
        <url-pattern>/marketing/accessdenied</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePostCategoryServlet</servlet-name>
        <url-pattern>/marketing/changepostcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingsList</servlet-name>
        <url-pattern>/admin/settingslist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersListServlet</servlet-name>
        <url-pattern>/admin/userslist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFeatureCustomerServlet</servlet-name>
        <url-pattern>/marketing/updatefeaturecustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddUserServlet</servlet-name>
        <url-pattern>/admin/adduser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUdateAccServlet</servlet-name>
        <url-pattern>/admin/uupdateacc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingDetailsServlet</servlet-name>
        <url-pattern>/admin/settingdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSettingServlet</servlet-name>
        <url-pattern>/admin/addsetting</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>ConnectorServlet</servlet-name>
        <servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
        <init-param>
            <description>
                Path to configuration file can be relative path inside application,
                absolute path on local file system or UNC path.
            </description>
            <param-name>XMLConfig</param-name>
            <param-value>/WEB-INF/config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
</web-app>
